@page
@model GestionAeropuertos.App.Frontend.Pages.DetailsAeropuertoModel
@{
    var areopuerto = Model.Aeropuerto;
}

<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @areopuerto.id</li>
  <li class="list-group-item"> <b>Nombre: </b> @areopuerto.nombre</li>
  <li class="list-group-item"> <b>Ciudad: </b> @areopuerto.ciudad</li>
  <li class="list-group-item"><b>Coordenada_X: </b> @areopuerto.coordenada_x</li>
  <li class="list-group-item"><b>Coordenada_Y: </b> @areopuerto.coordenada_y</li>
</ul>	
