@page
@model GestionAeropuertos.App.Frontend.Pages.ListAvionModel
@{
}

<h1>Listado de Aviones</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Numero de asientos</th>
        <th>Numero de baños</th>
        <th>Capacidad en peso</th>
    </thead>
    @foreach (var avion in Model.Aviones)
    {
        <tr>
            <td>@avion.id</td>
            <td>@avion.marca</td>
            <td>@avion.modelo</td>
            <td>@avion.numero_asientos</td>
            <td>@avion.numero_baños</td>
            <td>@avion.capacidad_peso</td>
            
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id">Editar</a>
              <form method="POST">
            <input type="number" class="form-control d-none" id="id"  placeholder="id" asp-for="@avion.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>
